{template 'common/header'}

<div class="main">
	<ul class="nav nav-tabs">
		{if $_GPC['kind']=='分类列表'}
		<li class="active"><a
			href="{php echo $this->createWebUrl('bookkind',array('kind'=>'分类列表'))}">分类列表</a></li>
		<li class=""><a
			href="{php echo $this->createWebUrl('bookkind',array('kind'=>'添加分类'))}">添加分类</a></li>
		{/if} {if $_GPC['kind']=='添加分类'}
		<li class=""><a
			href="{php echo $this->createWebUrl('bookkind',array('kind'=>'分类列表'))}">分类列表</a></li>
		<li class="active"><a
			href="{php echo $this->createWebUrl('bookkind',array('kind'=>'添加分类'))}">添加分类</a></li>
		{/if}
	</ul>

	<div>
		{if $_GPC['kind']=='分类列表'}
		<div style="height: 30px; position: relatvie; width: 100%;">
			<div
				style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 15%; position: relative; float: left; text-align: center'>
				选择</div>
			<div
				style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 15%; position: relative; float: left; text-align: center'>
				编号</div>
			<div
				style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 20%; position: relative; float: left; text-align: center'>
				书籍分类</div>
			<div
				style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 20%; position: relative; float: left; text-align: center'>
				行号</div>

			<div
				style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 20%; position: relative; float: left; text-align: center'>
				排列书籍</div>
		</div>


		<form id='dataForm' action="./index.php">
			<input type="hidden" name="a" value="entry" /> <input type="hidden"
				name="c" value="site" /> <input type="hidden" name="m"
				value="wqNovel" /> <input id='del_hidden' type="hidden" name="do"
				value="bookkind" /> <input type='hidden' id='current_page'
				name='current_page' value="{$current_page}" /> <input type='hidden'
				id='direct' name='direct' value="+" />
			<div style="height: 30px; position: relatvie; width: 100%;">
				{loop $data $item}

				<div style="height: 30px; position: relatvie; width: 100%;">
					<div
						style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; width: 15%; line-height: 30px; position: static; float: left; text-align: center'>
						<input id="check{$item['auto_id']}"
							name="checkvalue{$item['auto_id']}" type="checkbox" />
					</div>
					<div
						style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px;  overflow: hidden; width: 15%; line-height: 30px; position: static; float: left; text-align: center'>
						{$item['auto_id']}</div>
					<div
						style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px;  overflow: hidden; width: 20%; line-height: 30px; position: static; float: left; text-align: center'>
						{$item['book_kind']}</div>
					<div
						style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px;  overflow: hidden; width: 20%; line-height: 30px; position: static; float: left; text-align: center'>
						{$item['line']}</div>

					<div
						style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px;  overflow: hidden; width: 20%; line-height: 30px; position: static; float: left; text-align: center'>
						{$item['order_line']}</div>

				</div>
				{/loop}
				<div id="command"
					style='margin-top: 10px; text-align: right; width: 85%;'>
					{if $is_first==true} <input type="button" onclick='onFirst()'
						value="首页" />{/if} {if $is_pre==true} <input type="button"
						onclick="onPre()" value="上一页" />{/if} {if $is_next==true} <input
						type="button" onclick="onNextPage()" value="下一页" />{/if} {if
					$is_last==true} <input onclick="onLastPage()" type="button"
						value="末页" /> {/if}<input type="button" id='selectInput'
						onclick="onSelect()" value="全选" /> <input type="button"
						onclick="onDel()" value='删除'></input>
				</div>
			</div>
		</form>

		{/if} {if $_GPC['kind']=='添加分类'}
		<form id='add_form' action="./index.php">
			<input type="hidden" name="a" value="entry" /> <input type="hidden"
				name="c" value="site" /> <input type="hidden" name="m"
				value="wqNovel" /> <input type="hidden" name="do"
				value="bookkindadd" />
			<div style="height: 30px; position: relatvie; width: 100%;">
				<ul>
					<li
						style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>书籍分类:</li>
					<li><input id='book_kind' name='book_kind' type='text'
						style='width: 50%;' /></li>
				</ul>
				<ul>
					<li
						style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>行号:</li>
					<li><input id='row_num' name='row_num' type='number'
						style='width: 25%;' value='1' /></li>
				</ul>
				<ul>
					<li
						style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>排序:</li>
					<li><input id='row_order' name='row_order' value='0'
						type='number' style='width: 25%;' /></li>
				</ul>
				<ul>
					<li><input type='button' onclick='onSave()' value='保存' /></li>
				</ul>
			</div>

		</form>
		{/if}
	</div>
</div>

<script>
	var selectInput = document.getElementById('selectInput');//选择按钮
	var dataForm=document.getElementById('dataForm');//列表表单
	var current_page=document.getElementById('current_page');//当前页
	var direct=document.getElementById('direct');//方向
	var add_form=document.getElementById('add_form');//添加表单
	var book_kind=document.getElementById('book_kind');//书籍分类 字段
	var row_num=document.getElementById('row_num');//行号字段
	var row_order=document.getElementById('row_order');//排序
	
	//保存提交
	function onSave(){
		if (book_kind.value.trim()==''){
			alert('书籍分类不能空')
			return;
		}
		if (row_num.value.trim()==''){
			alert('行号不能空')
			return;
		}
		add_form.submit();
	}
	//第一页
	function onFirst(){
		direct.value='+'
			current_page.value=0//当前页恢复
			dataForm.submit()
	}
	
	//前一页
	function onPre(){
		direct.value='-';
		dataForm.submit();
	}
	//下一页
	function onNextPage(){
		direct.value='+';
		dataForm.submit();
	}
	//最后一页
	function onLastPage(){
		direct.value="++";
		dataForm.submit();
		
	}
	//删除后当前页复原
	function onDel(){
		//alert('fdsfds')
		del_hidden.value='bookkindDel';
		current_page.value=0
		
		dataForm.submit();
	}

	//选择所有
	function onSelect() {
		if (selectInput.value == "全选") {
			{loop $data $item}
			document.getElementById('check' + {$item['auto_id']}).checked="1";

			{/loop}
			selectInput.value = '反全选'
		} else {
			selectInput.value = '全选'
			{loop $data $item}
			document.getElementById('check' + {$item['auto_id']}).checked=null;

			{/loop}
		}
	}
</script>

{template 'common/footer'}
