{template 'common/header'}
<div class="main">

	<ul class="nav nav-tabs">
		{if $_GPC['kind']=='章列表'}
		<li class="active"><a
			href="{php echo $this->createWebUrl('Catalog',array('kind'=>'章列表'))}">章列表</a></li>
		<li class=""><a
			href="{php echo $this->createWebUrl('Catalog',array('kind'=>'添加章'))}">添加章</a></li>
		{/if} {if $_GPC['kind']=='添加章'}
		<li class=""><a
			href="{php echo $this->createWebUrl('Catalog',array('kind'=>'章列表'))}">章列表</a></li>
		<li class="active"><a
			href="{php echo $this->createWebUrl('Catalog',array('kind'=>'添加章'))}">添加章</a></li>
		{/if}
	</ul>

	{if $_GPC['kind']=='章列表'}
	<div style="height: 30px; position: relatvie; width: 100%;">
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 15%; position: relative; float: left; text-align: center'>
			选择</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 15%; position: relative; float: left; text-align: center'>
			编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 35%; position: relative; float: left; text-align: center'>
			简介编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 35%; position: relative; float: left; text-align: center'>
			章名</div>

	</div>

	<form id='dataForm' action="./index.php">
		<input type="hidden" name="a" value="entry" /> <input type="hidden"
			name="c" value="site" /> <input type="hidden" name="m"
			value="wqNovel" /> <input id='del_hidden' type="hidden" name="do"
			value="Catalog" /> <input type='hidden' id='current_page'
			name='current_page' value="{$current_page}" /> <input type='hidden'
			id='direct' name='direct' value="+" />
		<div style="height: 30px; position: relatvie; width: 100%;">
			{loop $data $item}

			<div style="height: 30px; position: relatvie; width: 100%;">
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; width: 15%; line-height: 30px; position: static; float: left; text-align: center'>
					<input id="check{$item['auto_id']}"
						name="checkvalue{$item['auto_id']}" type="checkbox" />
				</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px;  overflow: hidden; width: 15%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px;  overflow: hidden; width: 35%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['introduce_auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px;  overflow: hidden; width: 35%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['catalog']}</div>



			</div>
			{/loop}
			<div id="command"
				style='margin-top: 10px; text-align: right; width: 85%;'>
				{if $is_first==true} <input type="button" onclick='onFirst()'
					value="首页" />{/if} {if $is_pre==true} <input type="button"
					onclick="onPre()" value="上一页" />{/if} {if $is_next==true} <input
					type="button" onclick="onNextPage()" value="下一页" />{/if} {if
				$is_last==true} <input onclick="onLastPage()" type="button"
					value="末页" /> {/if}<input type="button" id='selectInput'
					onclick="onSelect()" value="全选" /> <input type="button"
					onclick="onDel()" value='删除'></input>
			</div>
		</div>
	</form>
	{/if} {if $_GPC['kind']=='添加章'}
	<form id='add_form' action="./index.php">
		<input type="hidden" name="a" value="entry" /> <input type="hidden"
			name="c" value="site" /> <input type="hidden" name="m"
			value="wqNovel" /> <input type="hidden" name="do"
			value="CatalogInsert" /><input type='hidden' id='current_page'
			name='current_page' value="{$current_page}" /> <input type='hidden'
			id='direct' name='direct' value="+" />
		<div style="height: 30px; position: relatvie; width: 100%;">
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>简介编号:</li>
				<li><input onblur='onIntroduceBlur()' placeholder=""
					id='introduce_auto_id' name='introduce_auto_id' type='number'
					style='width: 70%;' /><label id='introduce_label'></label></li>
				<li></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>章名:</li>
				<li><input id='catalog' name='catalog' type='text'
					style='width: 25%;' /></li>
			</ul>

			<ul>
				<li><input type='button' onclick='onSave()' value='保存' /></li>
			</ul>
		</div>

	</form>
	{/if}

</div>


<script>
	var selectInput = document.getElementById('selectInput');//选择按钮
	var dataForm=document.getElementById('dataForm');//列表表单
	var current_page=document.getElementById('current_page');//当前页
	var direct=document.getElementById('direct');//方向
	
	
	var introduce_auto_id=document.getElementById('introduce_auto_id');//简介编号
	var introduce_label=document.getElementById('introduce_label')
	var catalog=document.getElementById('catalog')//章名
	
	
	var xml_http;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
		xml_http=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
		xml_http=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	
	xml_http.onreadystatechange=function()
	  {
		//alert(xml_http.status);
		//console.log(xml_http.status);
	  if (xml_http.readyState==4 && xml_http.status==200)
	    {
	    //document.getElementById("myDiv").innerHTML=;
	    var obj=JSON.parse(xml_http.responseText);
	    var result='';
	    for (var i=0;i<obj.length;i++){
	    	//console.log(obj[i].title)
	    	result +=obj[i].auto_id + "," + obj[i].title + ";";
	    }
	  	//console.log(result);
	  	introduce_auto_id.placeholder=result;
	    }
	  }
	xml_http.open("GET","./index.php?c=site&a=entry&do=CatalogGetIntroduce&m=wqnovel",true);
	xml_http.send();
	
	//编号失去焦点验证
	function onIntroduceBlur(){
		if(introduce_auto_id.value=='') return;//如果简介是空的就返回
		xml_http.onreadystatechange=function(){
			if (xml_http.readyState == 4 && xml_http.status == 200){
				//console.log(xml_http.responseText)
				 if(xml_http.responseText == 'null') {
					  alert('简介编号错误或没输入')
					  return
				  }
				//处理简介获取结果
				introduce_label.innerText=xml_http.responseText;
				if (introduce_label.innerText==''){
					introduce_auto_id.value=''
					alert('输入的简介编号不存在,请先到简介里查看')
				}
				//处理简介获取结果
		    }
		}
		xml_http.open("GET","./index.php?c=site&a=entry&do=CatalogCheckIntroduce&introduce_auto_id="  + introduce_auto_id.value + "&m=wqnovel",true);
		xml_http.send();
	}
	
	//保存提交
	function onSave(){
		if (introduce_auto_id.value.trim()==''){
			alert('简介编号必能空')
			return;
		}
		if (catalog.value.trim()==''){
			alert('章名不能空')
			return;
		}
		//add_form.submit();
		xml_http.onreadystatechange=function(){
			if (xml_http.readyState==4 && xml_http.status==200){
				//console.log(xml_http.responseText)
				
				//处理简介获取结果
				alert(xml_http.responseText);
				//处理简介获取结果
		    }
		}
		
		xml_http.open("POST","index.php",true);
		xml_http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xml_http.send("c=site&a=entry&do=CatalogInsert&m=wqnovel&introduce_auto_id=" + introduce_auto_id.value.trim() + "&catalog=" + catalog.value.trim());
	}
	//第一页
	function onFirst(){
		direct.value='+'
			current_page.value=0//当前页恢复
			dataForm.submit()
	}
	
	//前一页
	function onPre(){
		direct.value='-';
		dataForm.submit();
	}
	//下一页
	function onNextPage(){
		direct.value='+';
		dataForm.submit();
	}
	//最后一页
	function onLastPage(){
		direct.value="++";
		dataForm.submit();
		
	}
	//删除后当前页复原
	function onDel(){
		//alert('fdsfds')
		del_hidden.value='CatalogDel';
		current_page.value=0
		
		dataForm.submit();
	}

	//选择所有
	function onSelect() {
		if (selectInput.value == "全选") {
			{loop $data $item}
			document.getElementById('check' + {$item['auto_id']}).checked="1";

			{/loop}
			selectInput.value = '反全选'
		} else {
			selectInput.value = '全选'
			{loop $data $item}
			document.getElementById('check' + {$item['auto_id']}).checked=null;

			{/loop}
		}
	}
</script>

{template 'common/footer'}
