{template 'common/header'}
<div class="main">
	<form id='add_form' action="./index.php">
		<div style="height: 30px; position: relatvie; width: 100%;">
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>工作时间:</li>
				<li><input  placeholder="" id='work_time'
					name='work_time' value="{$data[0]['work_time']}" type='text' style='width: 70%;' /><label id='introduce_label'></label></li>
				<li></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>EM:</li>
				<li><input id='em' name='em' type='text' value="{$data[0]['EM']}"
					style='width: 25%;' /></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>QQ:</li>
				<li><input id='qq' name='qq' type='text' value="{$data[0]['QQ']}"
					style='width: 25%;' /></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>微信:</li>
				<li><input id='weixin' name='weixin' type='text' value="{$data[0]['weixin']}"
					style='width: 25%;' /></li>
			</ul>
			<ul>
				<li><input type='button' onclick='onSave()' value='保存' /></li>
			</ul>
		</div>
			
			
	</form>
</div>
<script>
	var work_time=document.getElementById('work_time');
	var em=document.getElementById('em');
	var qq=document.getElementById('qq');
	var weixin=document.getElementById('weixin');
	var xml_http;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
		xml_http=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
		xml_http=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	function onSave(){
		xml_http.onreadystatechange=function()
		  {
			//alert(xml_http.status);
			//console.log(xml_http.status);
		  if (xml_http.readyState==4 && xml_http.status==200)
		    {
		    //document.getElementById("myDiv").innerHTML=;
		   
		  	console.log(xml_http.responseText);
			alert(xml_http.responseText);
		
		    }
		  }
		
		xml_http.open("GET","index.php?c=site&a=entry&do=UpdataContactUs&m=wqnovel&work_time=" + work_time.value + "&em=" + em.value + "&qq=" + qq.value + "&weixin=" + weixin.value,true);
		xml_http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xml_http.send();
	}
</script>
{template 'common/footer'}