{template 'common/header'}
<div class="main">
	<ul class="nav nav-tabs">
		{if $_GPC['kind'] == '简介列表'}
		<li class="active"><a
			href="{php echo $this->createWebUrl('instroduce',array('kind'=>'简介列表'))}">简介列表</a></li>
		<li class=""><a
			href="{php echo $this->createWebUrl('instroduce',array('kind'=>'添加简介'))}">添加简介</a></li>
		{/if} {if $_GPC['kind'] == '添加简介'}

		<li class=""><a
			href="{php echo $this->createWebUrl('instroduce',array('kind'=>'简介列表'))}">简介列表</a></li>
		<li class="active"><a
			href="{php echo $this->createWebUrl('instroduce',array('kind'=>'添加简介'))}">添加简介</a></li>
		{/if}
	</ul>
	{if $_GPC['kind'] == '简介列表'}
	<div style="height: 30px; position: relatvie; width: 100%;">
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			选择</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			标题</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			描述1</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			描述2</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 12%; position: relative; float: left; text-align: center'>
			图片地址</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			市上时间</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 8%; position: relative; float: left; text-align: center'>
			1分类编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 8%; position: relative; float: left; text-align: center'>
			2分类编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 8%; position: relative; float: left; text-align: center'>
			3分类编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 8%; position: relative; float: left; text-align: center'>
			4分类编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			会员否</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			书币</div>
	</div>
	<form id='dataForm' action="./index.php">
		<input type="hidden" name="a" value="entry" /> <input type="hidden"
			name="c" value="site" /> <input type="hidden" name="m"
			value="wqNovel" /> <input id='del_hidden' type="hidden" name="do"
			value="instroduce" /><input type='hidden' id='current_page'
			name='current_page' value="{$current_page}" /> <input type='hidden'
			id='direct' name='direct' value="+" />
		<div style="height: 30px; position: relatvie; width: 100%;">
			{loop $data $item}
			<div style="height: 30px; position: relatvie; width: 100%;">
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					<input id="check{$item['auto_id']}"
						name="checkvalue{$item['auto_id']}" type="checkbox" />
				</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['title']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['des1']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['des2']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 12%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['src']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['come_time']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 8%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['line_one_auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 8%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['line_two_auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 8%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['line_three_auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 8%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['line_four_auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['is_member_read']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['need_bi']}</div>

			</div>
			{/loop}
			<div id="command"
				style='margin-top: 10px; text-align: right; width: 85%;'>
				{if $is_first==true} <input type="button" onclick='onFirst()'
					value="首页" />{/if} {if $is_pre==true} <input type="button"
					onclick="onPre()" value="上一页" />{/if} {if $is_next==true} <input
					type="button" onclick="onNextPage()" value="下一页" />{/if} {if
				$is_last==true} <input onclick="onLastPage()" type="button"
					value="末页" /> {/if}<input type="button" id='selectInput'
					onclick="onSelect()" value="全选" /> <input type="button"
					onclick="onDel()" value='删除'></input>
			</div>
		</div>
	</form>
	{/if} {if $_GPC['kind'] == '添加简介'}
	<div style="height: 30px; position: relatvie; width: 100%;">

		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>标题:</li>
			<li><input type='text' id='title' /></label></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>描述1:</li>
			<li><input type='text' id='des1' /></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>描述2:</li>
			<li><input type='text' id='des2' /></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>图片地址:</li>
			<li><input type='text' id='src' /></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>上市时间:</li>
			<li><input type='datetime' id='come_time' /></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>1分类编号:</li>
			<li><input type='number' id='line_one_auto_id' value='1' /></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>2分类编号:</li>
			<li><input type='number' id='line_two_auto_id' value='1' /></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>3分类编号:</li>
			<li><input type='number' id='line_three_auto_id' value='1' /></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>4分类编号:</li>
			<li><input type='number' id='line_four_auto_id' value='1' /></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>会员否:</li>
			<li><select id='need_member' name='sex' size="1">
					<option value="是">是</option>
					<option value="否">否</option>
			</select></li>
		</ul>
		<ul>
			<li
				style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>书币:</li>
			<li><input type='number' id='bi' /></li>
		</ul>
		<ul>
			<li><input type='button' onclick='onSave()' value='保存' /></li>
		</ul>
	</div>
	{/if}
</div>
<script>
var selectInput = document.getElementById('selectInput');//选择按钮
var dataForm = document.getElementById('dataForm');//列表表单
var current_page = document.getElementById('current_page');//当前页
var direct = document.getElementById('direct');//方向
var del_hidden = document.getElementById('del_hidden')
var title = document.getElementById('title')//标题
var des1 = document.getElementById('des1')//
var des2 = document.getElementById('des2')
var src = document.getElementById('src')
var come_time = document.getElementById('come_time')
var line_one_auto_id = document.getElementById('line_one_auto_id')
var line_two_auto_id = document.getElementById('line_two_auto_id')
var line_three_auto_id = document.getElementById('line_three_auto_id')
var line_four_auto_id = document.getElementById('line_four_auto_id')
var need_member = document.getElementById('need_member')
var bi = document.getElementById('bi')
Date.prototype.format = function(fmt) { 
     var o = { 
        "M+" : this.getMonth()+1,                 //月份 
        "d+" : this.getDate(),                    //日 
        "h+" : this.getHours(),                   //小时 
        "m+" : this.getMinutes(),                 //分 
        "s+" : this.getSeconds(),                 //秒 
        "q+" : Math.floor((this.getMonth()+3)/3), //季度 
        "S"  : this.getMilliseconds()             //毫秒 
    }; 
    if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    }
     for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         }
     }
    return fmt; 
}


come_time.value = new Date().format('yyyy-MM-dd hh:mm:ss')


var xml_http;
if (window.XMLHttpRequest)
{// code for IE7+, Firefox, Chrome, Opera, Safari
	xml_http = new XMLHttpRequest();
}
else
{// code for IE6, IE5
	xml_http = new ActiveXObject("Microsoft.XMLHTTP");
}

//获取时间


//保存记录
function onSave() {
	if (title.value == '') {
		alert('标题至少要输入')
		return
	}
	xml_http.onreadystatechange = function()//处理结果
	{
		//alert(xml_http.status);
		//console.log(xml_http.responseText);
	//处理结果
	  if (xml_http.readyState == 4 && xml_http.status == 200)
	  {
		 alert(xml_http.responseText)
	  }
	//处理结果
	}
	
	xml_http.open("GET","./index.php?c=site&a=entry&do=introduceSave&m=wqnovel&title=" + title.value
			+ "&des1=" + des1.value + "&des2=" + des2.value + "&src=" + src.value + "&come_time=" + come_time.value 
			+ "&line_one_auto_id=" + line_one_auto_id.value + "&line_two_auto_id=" + line_two_auto_id.value 
			+ "&line_three_auto_id=" + line_three_auto_id.value + "&line_four_auto_id=" + line_four_auto_id.value
			+ "&is_member=" + need_member.value + "&need_bi=" + bi.value,true);//请求
	xml_http.send();//发送请求
}

//第一页
function onFirst() {
	direct.value='+'
		current_page.value=0//当前页恢复
		dataForm.submit()
}

//前一页
function onPre() {
	direct.value='-';
	dataForm.submit();
}
//下一页
function onNextPage() {
	direct.value = '+';
	dataForm.submit();
}
//最后一页
function onLastPage() {
	direct.value = "++";
	dataForm.submit();
	
}
//删除后当前页复原
function onDel() {
	//alert('fdsfds')
	del_hidden.value = 'introduceDel';
	current_page.value = 0
	
	dataForm.submit();
}

//选择所有
function onSelect() {
	if (selectInput.value == "全选") {
		{loop $data $item}
		document.getElementById('check' + {$item['auto_id']}).checked="1";

		{/loop}
		selectInput.value = '反全选'
	} else {
		selectInput.value = '全选'
		{loop $data $item}
		document.getElementById('check' + {$item['auto_id']}).checked=null;

		{/loop}
	}
}
</script>
{template 'common/footer'}
