{template 'common/header'}
<div class="main">
	<ul class="nav nav-tabs">
		{if $_GPC['kind']=='会员分类列表'}
		<li class="active"><a
			href="{php echo $this->createWebUrl('memberkind',array('kind'=>'会员分类列表'))}">会员分类列表</a></li>
		<li class=""><a
			href="{php echo $this->createWebUrl('memberkind',array('kind'=>'添加会员分类'))}">添加会员分类</a></li>
		{/if} {if $_GPC['kind']=='添加会员分类'}
		<li class=""><a
			href="{php echo $this->createWebUrl('memberkind',array('kind'=>'会员分类列表'))}">会员分类列表</a></li>
		<li class="active"><a
			href="{php echo $this->createWebUrl('memberkind',array('kind'=>'添加会员分类'))}">添加会员分类</a></li>
		{/if}

	</ul>

	{if $_GPC['kind']=='会员分类列表'}
	<div style="height: 30px; position: relatvie; width: 100%;">
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 10%; position: relative; float: left; text-align: center'>
			选择</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 10%; position: relative; float: left; text-align: center'>
			编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 40%; position: relative; float: left; text-align: center'>
			会员类型</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 20%; position: relative; float: left; text-align: center'>
			会员开通天数</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 20%; position: relative; float: left; text-align: center'>
			价格</div>

	</div>
	<form id='dataForm' action="./index.php">
		<input type="hidden" name="a" value="entry" /> <input type="hidden"
			name="c" value="site" /> <input type="hidden" name="m"
			value="wqNovel" /> <input id='del_hidden' type="hidden" name="do"
			value="memberkind" /><input type='hidden' id='current_page'
			name='current_page' value="{$current_page}" /> <input type='hidden'
			id='direct' name='direct' value="+" />
		<div style="height: 30px; position: relatvie; width: 100%;">
			{loop $data $item}
			<div style="height: 30px; position: relatvie; width: 100%;">
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; width: 10%; line-height: 30px; position: static; float: left; text-align: center'>
					<input id="check{$item['auto_id']}"
						name="checkvalue{$item['auto_id']}" type="checkbox" />
				</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 10%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; overflow: hidden; width: 40%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['member_kind']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 20%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['member_day']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 20%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['money']}</div>

			</div>
			{/loop}

			<div id="command"
				style='margin-top: 10px; text-align: right; width: 85%;'>
				{if $is_first==true} <input type="button" onclick='onFirst()'
					value="首页" />{/if} {if $is_pre==true} <input type="button"
					onclick="onPre()" value="上一页" />{/if} {if $is_next==true} <input
					type="button" onclick="onNextPage()" value="下一页" />{/if} {if
				$is_last==true} <input onclick="onLastPage()" type="button"
					value="末页" /> {/if}<input type="button" id='selectInput'
					onclick="onSelect()" value="全选" /> <input type="button"
					onclick="onDel()" value='删除'></input>
			</div>
		</div>
	</form>
	{/if} {if $_GPC['kind']=='添加会员分类'}
	<form id='add_form' action="./index.php">
		<div style="height: 30px; position: relatvie; width: 100%;">
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>分类名称:</li>
				<li><input id='member_kind' name='member_kind' type='text'
					style='width: 70%;' /></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>分类天数:</li>
				<li><input id='member_day' name='member_day' type='text'
					style='width: 70%;' /></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>分类金额:</li>
				<li><input id='money' name='money' type='number'
					style='width: 70%;' /></li>
			</ul>
			<ul>
				<li><input type='button' onclick='onSave()' value='保存' /></li>
			</ul>
		</div>
	</form>
	{/if}
</div>
<script>
	var selectInput = document.getElementById('selectInput');//选择按钮
	var dataForm = document.getElementById('dataForm');//列表表单
	var current_page = document.getElementById('current_page');//当前页
	var direct = document.getElementById('direct');//方向
	var del_hidden = document.getElementById('del_hidden')
	var member_kind = document.getElementById('member_kind')//会员类型名称
	var member_day = document.getElementById('member_day')//会员天数
	var money = document.getElementById('money');//会员金额
	
	var xml_http;
	if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xml_http = new XMLHttpRequest();
	}
	else
	{// code for IE6, IE5
		xml_http = new ActiveXObject("Microsoft.XMLHTTP");
	}
	//添加记录
	function onSave(){
		if (member_kind.value.trim() == '') {
			alert('会员类别不能空')
			return;
		}
		if (member_day.value.trim() == '') {
			alert('会员天数不能空')
			return;
		}
		if (money.value.trim() == '') {
			alert('会员金额不能空')
			return;
		}
		
		
		xml_http.onreadystatechange = function()
		{
			//alert(xml_http.status);
			//console.log(xml_http.status);
			
		  if (xml_http.readyState == 4 && xml_http.status == 200)
		  {
			alert(xml_http.responseText)
		  }
		}
		xml_http.open("GET","./index.php?c=site&a=entry&do=memberkindInsert&m=wqnovel&member_kind=" + member_kind.value + 
				"&member_day=" + member_day.value +
				"&money=" + money.value,true);
		xml_http.send();
		
		
	}

//第一页
function onFirst() {
	direct.value='+'
		current_page.value=0//当前页恢复
		dataForm.submit()
}

//前一页
function onPre() {
	direct.value='-';
	dataForm.submit();
}
//下一页
function onNextPage() {
	direct.value = '+';
	dataForm.submit();
}
//最后一页
function onLastPage() {
	direct.value = "++";
	dataForm.submit();
	
}
//删除后当前页复原
function onDel() {
	//alert('fdsfds')
	del_hidden.value = 'memberkindDel';
	current_page.value = 0
	
	dataForm.submit();
}

//选择所有
function onSelect() {
	if (selectInput.value == "全选") {
		{loop $data $item}
		document.getElementById('check' + {$item['auto_id']}).checked="1";

		{/loop}
		selectInput.value = '反全选'
	} else {
		selectInput.value = '全选'
		{loop $data $item}
		document.getElementById('check' + {$item['auto_id']}).checked=null;

		{/loop}
	}
}
</script>
{template 'common/footer'}
