{template 'common/header'}
<div class="main">
	<ul class="nav nav-tabs">
		{if $_GPC['kind']=='小说明细列表'}
		<li class="active"><a
			href="{php echo $this->createWebUrl('noveldetail',array('kind'=>'小说明细列表'))}">小说明细列表</a></li>
		<li class=""><a
			href="{php echo $this->createWebUrl('noveldetail',array('kind'=>'添加小说明细'))}">添加小说明细</a></li>
		{/if} {if $_GPC['kind']=='添加小说明细'}
		<li class=""><a
			href="{php echo $this->createWebUrl('noveldetail',array('kind'=>'小说明细列表'))}">小说明细列表</a></li>
		<li class="active"><a
			href="{php echo $this->createWebUrl('noveldetail',array('kind'=>'添加小说明细'))}">添加小说明细</a></li>
		{/if}
	</ul>
	{if $_GPC['kind']=='小说明细列表'}
	<div style="height: 30px; position: relatvie; width: 100%;">
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 11%; position: relative; float: left; text-align: center'>
			选择</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 5%; position: relative; float: left; text-align: center'>
			编号</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 21%; position: relative; float: left; text-align: center'>
			图片地址</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 11%; position: relative; float: left; text-align: center'>
			标题(书名)</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 11%; position: relative; float: left; text-align: center'>
			作者</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 11%; position: relative; float: left; text-align: center'>
			状态</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 11%; position: relative; float: left; text-align: center'>
			描述</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 7%; position: relative; float: left; text-align: center'>
			阅读次数</div>
		<div
			style='background-color: #f80;; border-bottom-style: outset; border-bottom-width: 1px; line-height: 30px; height: 30px;; width: 11%; position: relative; float: left; text-align: center'>
			简介编号</div>
	</div>
	<form id='dataForm' action="./index.php">
		<input type="hidden" name="a" value="entry" /> <input type="hidden"
			name="c" value="site" /> <input type="hidden" name="m"
			value="wqNovel" /> <input id='del_hidden' type="hidden" name="do"
			value="noveldetail" /><input type='hidden' id='current_page'
			name='current_page' value="{$current_page}" /> <input type='hidden'
			id='direct' name='direct' value="+" />
		<div style="height: 30px; position: relatvie; width: 100%;">
			{loop $data $item}
			<div style="height: 30px; position: relatvie; width: 100%;">
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; width: 11%; line-height: 30px; position: static; float: left; text-align: center'>
					<input id="check{$item['auto_id']}"
						name="checkvalue{$item['auto_id']}" type="checkbox" />
				</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 5%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['auto_id']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; overflow: hidden; width: 21%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['src']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 11%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['book_name']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 11%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['author']}</div>
				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 11%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['status']}</div>

				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 11%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['des']}</div>

				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 7%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['read_count']}</div>

				<div
					style='border-bottom-style: outset; height: 30px; border-bottom-width: 1px; overflow: hidden; width: 11%; line-height: 30px; position: static; float: left; text-align: center'>
					{$item['introduce_auto_id']}</div>
			</div>
			{/loop}
			<div id="command"
				style='margin-top: 10px; text-align: right; width: 85%;'>
				{if $is_first==true} <input type="button" onclick='onFirst()'
					value="首页" />{/if} {if $is_pre==true} <input type="button"
					onclick="onPre()" value="上一页" />{/if} {if $is_next==true} <input
					type="button" onclick="onNextPage()" value="下一页" />{/if} {if
				$is_last==true} <input onclick="onLastPage()" type="button"
					value="末页" /> {/if}<input type="button" id='selectInput'
					onclick="onSelect()" value="全选" /> <input type="button"
					onclick="onDel()" value='删除'></input>
			</div>
		</div>
	</form>
	{/if} {if $_GPC['kind']=='添加小说明细'}
	<form id='add_form' action="./index.php">
		<div style="height: 30px; position: relatvie; width: 100%;">
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>简介编号:</li>
				<li><input id='introduce_auto_id' onblur='onBlurInstroduce()'
					name='introduce_auto_id' type='number' style='width: 70%;' /></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>标题(书名):</li>
				<li><label id='title'></label></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>图片网址:</li>
				<li><label id='pic_addr'></label></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>作者:</li>
				<li><label id='author'></label></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>描述:</li>
				<li><label style='overflow: hidden;width:70%;' id='des'></label></li>
			</ul>
			<ul>
				<li
					style='text-decoration: none; ist-style: none; float: left; border: 1px solid #FFFFFF;'>状态:</li>
				<li><input id='statusss' type='text' value='连载中' /></li>
			</ul>

			<ul>
				<li><input type='button' onclick='onSave()' value='保存' /></li>
			</ul>
		</div>
	</form>
	{/if}
</div>


<script>
	var selectInput = document.getElementById('selectInput');//选择按钮
	var dataForm = document.getElementById('dataForm');//列表表单
	var current_page = document.getElementById('current_page');//当前页
	var direct = document.getElementById('direct');//方向
	var del_hidden = document.getElementById('del_hidden');
	var introduce_auto_id = document.getElementById('introduce_auto_id')//简介
	var title = document.getElementById('title')//标题提
	var pic_addr = document.getElementById('pic_addr')//地址
	var author = document.getElementById('author')//作者
	var des = document.getElementById('des')//描述
	var statusss = document.getElementById('statusss')//状态

	var xml_http;
	if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
		xml_http = new XMLHttpRequest();
	} else {// code for IE6, IE5
		xml_http = new ActiveXObject("Microsoft.XMLHTTP");
	}

	xml_http.onreadystatechange = function() {
		//alert(xml_http.status);
		//console.log(xml_http.status);

		if (xml_http.readyState == 4 && xml_http.status == 200) {
			//console.log(xml_http.responseText);
			//document.getElementById("myDiv").innerHTML=;
			var obj = JSON.parse(xml_http.responseText);
			var result = '';
			for ( var i = 0; i < obj.length; i++) {
				//console.log(obj[i].title)
				result += obj[i].auto_id + "," + obj[i].title + ";";
			}
			//console.log(result);
			introduce_auto_id.placeholder = result;
		}
	}
	xml_http
			.open(
					"GET",
					"./index.php?c=site&a=entry&do=CatalogGetIntroduce&m=wqnovel",
					true);
	xml_http.send();

	
	function onSave(){
		if (introduce_auto_id.value.trim() == '') {
			alert('简介编号不能空')
			return;
		}
		
		xml_http.onreadystatechange = function()
		{
			//alert(xml_http.status);
			//console.log(xml_http.status);
			
		  if (xml_http.readyState == 4 && xml_http.status == 200)
		  {
			alert(xml_http.responseText)
		  }
		}
		xml_http.open("GET","./index.php?c=site&a=entry&do=noveldetailInsert&m=wqnovel&src=" + pic_addr.innerText +
				"&title=" + title.innerText +
				"&author=" + author.innerText + 
				"&status=" + statusss.value +
				"&des=" + des.innerText +
				"&introduce_auto_id=" + introduce_auto_id.value ,true);
		xml_http.send();
	}
	
	//失去编号失去焦点获取数值
	function onBlurInstroduce(){
		xml_http.onreadystatechange = function()//处理结果
		{
			//alert(xml_http.status);
			//console.log(xml_http.status);
			console.log(xml_http.responseText)
		  if (xml_http.readyState == 4 && xml_http.status == 200)
		  {
			  //如果返回空所有都是空的
			  if(xml_http.responseText == 'null') {
				  alert('简介编号错误或没输入')
				  return
			  }
			  if (xml_http.responseText == '简介编号不存在') {
				  pic_addr.innerText = ''
				  title.innerText = ''
				  introduce_auto_id.value = ''
				  author.innerText=''
				  des.innerText=''
		
				  alert(xml_http.responseText)
				  return;//如果没有东西返回,就退出处理
			  } 
			//如果返回空所有都是空的
			  
			
			//付给对应的值
			  var obj = JSON.parse(xml_http.responseText);
			//console.log(obj.title)
			//console.log(obj.src)
			  pic_addr.innerText = obj.src
			  title.innerText = obj.title
			  author.innerText = obj.des1
			  des.innerText = obj.des2
			 
			//付给对应的值
		  	//introduce_auto_id.placeholder = result;
		  }
		}
		
		xml_http.open("GET","./index.php?c=site&a=entry&do=FinishBookGetIntroduce&m=wqnovel&introduce_auto_id=" + introduce_auto_id.value,true);//请求
		xml_http.send();//发送请求
	}
	//第一页
	function onFirst() {
		direct.value = '+'
		current_page.value = 0//当前页恢复
		dataForm.submit()
	}

	//前一页
	function onPre() {
		direct.value = '-';
		dataForm.submit();
	}
	//下一页
	function onNextPage() {
		direct.value = '+';
		dataForm.submit();
	}
	//最后一页
	function onLastPage() {
		direct.value = "++";
		dataForm.submit();

	}
	//删除后当前页复原
	function onDel() {
		//alert('fdsfds')
		del_hidden.value = 'noveldetailDel';
		current_page.value = 0

		dataForm.submit();
	}

	//选择所有
				function onSelect() {
					if (selectInput.value == "全选") {
						{loop $data $item}
						document.getElementById('check' + {$item['auto_id']}).checked = "1";

						{/loop}
						selectInput.value = '反全选'
					} else {
						selectInput.value = '全选'
						{loop $data $item}
						document.getElementById('check' + {$item['auto_id']}).checked = null;

						{/loop}
					}
				}
</script>
{template 'common/footer'}
